/Library
/Library/metadata/2a
/Library/metadata/ef
/Library/metadata/31
/Library/metadata/35
/Library/metadata/46
/Library/metadata/77
/Library/metadata/d1
/Library/FailedAssetImports.txt
/Library/guidmapper
/Library/ScriptAssemblies
/Library/assetDatabase3
